body {
<<<<<<< HEAD
  font-family: sans-serif;
  padding: 20px;
}
input {
  margin: 5px;
}
button {
  margin-left: 10px;
=======
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
>>>>>>> 1a2d2fcb9b3ec92d75c9e7d6b714270817e9953b
}
